<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Playground</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/site" class="nav-link">Site</a>
      </li>                  
      <li class="nav-item">
        <a (click)="onLogout()" *ngIf="isLoggedIn$ | async" class="nav-link">Logout</a>
        <a routerLink="login" *ngIf="!(isLoggedIn$ | async)" class="nav-link">Login</a>        
      </li>                  
      <li class="nav-item">
        <a routerLink="register" *ngIf="!(isLoggedIn$ | async)" class="nav-link">Register</a>
      </li>
    </ul>
  </div>
</nav>